doctype html
html(lang="en")
  head
    title= pageTitle

  body
    h1 Pug - node template engine
    p= message

    script.
      var recievedData = JSON.parse('!{message}')
      var first = recievedData[0]
      console.log(recievedData[0])

    p= first

